@import "Straight";
@import "Right";
@import "Left";
@import "ZigZagRight";
@import "ZigZagLeft";
@import "PrimMotConnection";

@import "Colors";

@mixin canyonview_decorator_core {
  .canyonview {
    position: relative;

    @include Straight;
	@include Right;
	@include Left;
	@include ZigZagRight;
	@include ZigZagLeft;
    @include PrimMotConnection;

    &.default {
      min-width: 65px;
      height: 40px;
      border: 1px solid #000000;
      padding: 3px;
      background-color: #FCFCFC;
      text-align: center;
      line-height: 40px;

      .name {
        > input {
          font-size: 12px !important;
          line-height: 16px !important;
          height: 16px !important;
        }
      }
    }
  }

  .selected {
    .canyonview {
      @include SelectedStraight;
      @include SelectedRight;
      @include SelectedLeft;
      @include SelectedZigZagRight;
      @include SelectedZigZagLeft;
      @include SelectedPrimMotConnection;

      &.default {
        background-color: $selected-background-color;
        border-color: $selected-border-color;
      }
    }
  }
}