@import "Colors";
@import "Connector";

$right-turn-min-width: 120px;
$right-turn-max-width: 120px;
$right-turn-height: 60px;
$right-turn-border: 1px solid #000000;
$right-turn-name-padding: 5px;
$right-turn-background-color: #00FCFC;
$right-turn-name-height: 16px;
$right-turn-border-radius: 13px;

@mixin Right {
  .right-turn {
    min-width: $right-turn-min-width;
    max-width: $right-turn-max-width;
    height: $right-turn-height;
    background-color: $right-turn-background-color;
    border: $right-turn-border;
    border-radius: $right-turn-border-radius;

    .name {
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #000000;
      height: 16px;
      line-height: 16px;
      padding-left: $right-turn-name-padding;
      padding-right: $right-turn-name-padding;
    }
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }
}

@mixin SelectedRight {
  .right-turn {
    background-color: #55EAFC;//$selected-background-color;
    border-color: $selected-border-color;
  }
}