60@import "Colors";
@import "Connector";

$straight-min-width: 120px;
$straight-max-width: 120px;
$straight-height: 60px;
$straight-border: 1px solid #000000;
$straight-name-padding: 5px;
$straight-background-color: #FCFC00;
$straight-name-height: 16px;
$straight-border-radius: 13px;

@mixin Straight {
  .straight {
    min-width: $straight-min-width;
    max-width: $straight-max-width;
    height: $straight-height;
    background-color: $straight-background-color;
    border: $straight-border;
    border-radius: $straight-border-radius;

    .name {
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #000000;
      height: 16px;
      line-height: 16px;
      padding-left: $straight-name-padding;
      padding-right: $straight-name-padding;
    }
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }
}

@mixin SelectedStraight {
  .straight {
    background-color: #DBEA55; //$selected-background-color;
    border-color: $selected-border-color;
  }
}