@import "Colors";
@import "Connector";

$zigzagright-turn-min-width: 120px;
$zigzagright-turn-max-width: 120px;
$zigzagright-turn-height: 60px;
$zigzagright-turn-border: 1px solid #000000;
$zigzagright-turn-name-padding: 5px;
$zigzagright-turn-background-color: #00FC00;
$zigzagright-turn-name-height: 16px;
$zigzagright-turn-border-radius: 13px;

@mixin ZigZagRight {
  .zigzagright-turn {
    min-width: $zigzagright-turn-min-width;
    max-width: $zigzagright-turn-max-width;
    height: $zigzagright-turn-height;
    background-color: $zigzagright-turn-background-color;
    border: $zigzagright-turn-border;
    border-radius: $zigzagright-turn-border-radius;

    .name {
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #000000;
      height: 16px;
      line-height: 16px;
      padding-left: $zigzagright-turn-name-padding;
      padding-right: $zigzagright-turn-name-padding;
    }
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }
}

@mixin SelectedZigZagRight {
  .zigzagright-turn {
    background-color: #55FC55;//$selected-background-color;
    border-color: $selected-border-color;
  }
}